/* Form styles */
.form-group 
{
    margin-bottom: 20px;
}

label 
{
    font-size: 1.1rem;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="gender"],
input[type="checkbox"],
input[type="radio"]
{
    border: 2px solid rgb(96, 96, 96);
}

#comments
{
    border: 2px solid rgb(96, 96, 96);
}

#submit
{
    margin: 10px 0px 15px 0px;
    padding: 10px 20px;
}

/* Table styles */
.table 
{
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}
  
.table th,
.table td 
{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px;
    border: 1px solid black;
}

  
